/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=33X0A0klel+01G3a4sRvSfr+X8t */

/* Feel free to copy&paste color codes to your application */

/* As hex codes */

.color-primary-0 { color: #343979 }	/* Main Primary color */
.color-primary-1 { color: #CCCCCC }
.color-primary-2 { color: #74779F }
.color-primary-3 { color: #0C1155 }
.color-primary-4 { color: #00032F }

.color-secondary-1-0 { color: #AFA83B }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFFFFF }
.color-secondary-1-2 { color: #E6E19E }
.color-secondary-1-3 { color: #7B7301 }

.color-secondary-1-4 { color: #433F00 }
.color-secondary-2-0 { color: #AF753B }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFFFFF }
.color-secondary-2-2 { color: #E6C19E }
.color-secondary-2-3 { color: #7B3D01 }
.color-secondary-2-4 { color: #432100 }

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

.headingtext {
    font-family: "Bitter", serif;
}

.bodytext {
    font-family: "Open Sans", sans-serif;
}

/* Overall background */
body {
    background-color: #CCCCCC;
}

/* Header is used for the title bar.*/
header {
    background-color: #0C1155;
    text-align: center;
    color: #E6C19E;
    margin-left: auto;
    margin-right: auto;
}

/* Nav is used for anavigation within each section of the site. */
nav {
    background-color: #7B7301;
    text-color: black;
    font-family: "Open Sans", sans-serif;
}

/* Section is used for thematically-related content. */
section {
    background-color: #7B7301;
}

/* Article is used to hold standalone content. */
article {
    background-color: #E6E19E;
    font-family: 
}

/* Aside is for sidebar content. */
aside {
    background-color: #AF753B;
}

/* Aside within article is for tangential article content. */
article aside {
    background-color: #AFA83B;
}

/* Figure is for images with captions. Should contain both <img> and <figcaption>.*/ 
figure {

}

/* Img is the actual image tag. */
img {

}

/* Figcaption is for image captions. */
figcaption {

}

/* Footer holds copyright information and a site map.*/
footer {
    background-color: #AF753B;
}