---
---

<section class="under-construction">
    <article>
        <h1>Under Construction</h1>
        <p>This section of the site is under construction. Come back soon!</p>
    </article>
</section>



<aside class="sidebar">
    <h3>Quick Links</h3>
    {% for album in site.data.art-albums %}
        <h4><a href="#{{ album.shortname }}">{{ album.title }}</a></h4>
    {% endfor %}
</aside>

{% for album in site.data.art-albums %}
<section class="tab" id="{{ album.shortname }}">
    <article>
        <h2>{{ album.title }}</h2>
    </article>
</section>

<section class="tabbed">
    {% for section in album.sections %}
    <article class="artbox">
        <h3><a href="{{ section.shortname }}">{{ section.title }}</a></h3>
        <a href="{{ section.shortname }}"><image src="{{ site.assetspath }}/{{ album.shortname }}/{{ section.shortname }}/preview.png" /></a>
    </article>
    {% endfor %}
</section>
{% endfor %}

<!--
<section class="tab" id="drawabox">
    <article>
        <h2>Draw A Box Exercises</h2>
    </article>
</section>

<section class="tabbed">
    <article>
        <p>These are the exercises I've created for <a href="http://www.drawabox.com">Draw A Box</a>. The creator of that site also offers critiques on the <a href="http://www.reddit.com/r/artfundamentals">Art Fundamentals subreddit</a>.
        {% for post in site.categories.drawabox reversed %}
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <aside class="midtext-center">
            <image src="{{ site.baseurl }}{{ site.bannerpath }}{{ post.preview-image.file }}" />
        </aside>
        {% endfor %}
    </article>
</section>


<section class="tab" id="non-artistic-origins">
    <article>
        <h2>Non-Artistic Origins</h2>
    </article>
</section>

<section class="tabbed">
    <article>
        <p>This collection is a melange of sketches, old projects, and other things that I'm embarrased about. So of course it's the best idea to make this the first thing I put on here.</p>
        <p>Jokes aside, I want to make sure that anyone thinking about drawing can understand where I came from. I have absolutely, positively <em>zero</em> innate artistic talent. Everything I'm doing now is a result of study, practice, and effort.</p>
        
        <h3>Old Sketchbook</h3>
        
        <h3>Digital Ampersand</h3>
    </article>
</section>

-->