---
layout: default
---
{% if page.categories[-1] %}
    {% assign category = page.categories[-1] %}
{% else %}
    {% assign category = page.categories %}
{% endif%}

<section class="fullscreen">
    <article>
        <h2>{{ page.title }}</h2>
        <p style="margin: 0px"><em>Part {{ page.part }} of {{ page.story }}</em></p>
    </article>
</section>

<aside class="sidebar">
    <h3>Chapters</h3>
    <ul>
        {% for page in site.categories.[category] reversed %}
        <li><a href="{{ page.url }}">Chapter {{ page.chapter }}: {{ page.chapter-title }}</a></li>
        {% endfor %}
    </ul>
</aside>

<section>
    <article>
        <h3>Chapter {{ page.chapter }}: {{ page.chapter-title }}</h3>
        <span class="date-author">Posted by {{ page.author }} on {{ page.date | date: '%B %d, %Y' }}
        {% if page.updatedate %}
        | Last updated: {{ page.updatedate }}
        {% endif %}
        </span>
        {{ content }}
        {% include prev-next.html %}
    </article>
</section>