---
layout: coding
---

<section>
    <article>
        <h2>{{ page.title }}</h2>
        <span class="date-author">Posted on {{ page.date | date: '%B %d, %Y' }} 
        {% if page.updatedate %}
        | Last updated: {{ page.updatedate }}
        {% endif %}
        </span>
        {% include preview-banner.html %}
        <span class="date-author"><a href="{{ page.live-url }}">{{ page.live-url-message }}</a> | <a href="{{ page.source-url }}">View the source code</a></span>
        {{ content }}
    </article>
</section>