<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic,700,700italic|Bitter' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="/css/main.css"/>
        <meta />
        <script>
            window.onscroll = function() {moveSidebar()};
            var sidebar;
            var sidebarOffset;
            function findSidebar() {
                sidebar = document.getElementsByClassName("sidebar")[0];
                sidebarOffset = sidebar.offsetTop - 10 + sidebar.offsetParent.offsetTop;
            }
            function moveSidebar() {
                var marginToTop = window.pageYOffset - sidebarOffset + 10;
                if (window.pageYOffset < sidebarOffset) {
                    sidebar.style.position = "static";
                    sidebar.style.marginTop = "10px";
                }
                if (window.pageYOffset >= sidebarOffset) {
                    sidebar.style.position = "fixed";
                    sidebar.style.top = "0px";
                    sidebar.style.right = "10px";
                }
            }
            function doSidebar() {
                if (document.getElementsByClassName("sidebar")[0]) {
                    findSidebar();
                    moveSidebar();
                }
            }
        </script>
        <script src="/assets/intro-strings.js"></script>
        <!-- Google analytics code snippet ---------------->
        {% include google-analytics.html %}
        <!-- END Google analytics code ---------------->
    </head>
    
    <body onload="chooseIntroString(); doSidebar()">
        <header>
            <h1 class="main-title"><a class="main-title" href="/">PLADD</a></h1>
            <p id="intro-string">&nbsp;<p>
            <a href="https://twitter.com/itspladd" target="blank" alt="Follow me on twitter!"><img src="/assets/twitter-48.png"/></a>
            <a href="http://pladddraws.tumblr.com/" target="blank" alt="Follow me on tumblr!"><img src="/assets/tumblr-48.png"/>
            <a href="https://github.com/itspladd/" target="blank" alt="Fork me on GitHub!"><img src="/assets/github-48.png"/></a>
            <a href="" target="blank" alt="Something something RSS!"><img src="/assets/rss-48.png"/></a>
            <nav>
                <a class="navbutton" href="{{ site.url }}/blog">Blog</a>
                <a class="navbutton" href="{{ site.url }}/writing">Writing</a>
                <a class="navbutton" href="{{ site.url }}/art">Art</a>
                <a class="navbutton" href="{{ site.url }}/coding">Code</a>
                <a class="navbutton" href="{{ site.url }}/about">About</a>
            </nav>
        </header>
        <div id="content">
        
        {{ content }}
        
        </div><!-- /.content -->
        <footer>Unless otherwise indicated, all content on this site is owned by Paul Ladd. &copy; 2013-2016 Paul Ladd. Hosted on <a style="color:#E6C19E" href="https://github.com/itspladd/itspladd.github.io">GitHub</a>.</footer>

    </body>
</html>