<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic,700,700italic|Bitter' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="/css/main.css"/>
        <meta />
        <script>
            function moveSidebar() {
                var sidebar = document.getElementsByClassName("sidebar")[0];
                var amount = 0;
                sidebar.innerHTML = "Scrolled: " + window.pageYOffset + "<br/> My offset: " + sidebar.offsetTop;
            }
        </script>
    </head>
    
    <body>
        <header>
            <h1 class="main-title"><a class="main-title" href="/">PLADD</a></h1>
            <p>Paul Ladd does things<p>
            <nav class="bodytext">
                <a href="{{ site.url }}/blog"><img class="navbutton" src="" alt="Blog"></img></a>
                <a href="{{ site.url }}/writing"><img class="navbutton" src="" alt="Writing"></img></a>
                <a href="{{ site.url }}/art"><img class="navbutton" src="" alt="Art"></img></a>
                <a href="{{ site.url }}/coding"><img class="navbutton" src="" alt="Code"></img></a>
                <a href="{{ site.url }}/resume"><img class="navbutton" src="" alt="Resume"></img></a>
                <a href="{{ site.url }}/about"><img class="navbutton" src="" alt="About"></img></a>
            </nav><!-- /.bodytext -->
        </header>
        <div id="content">
        
        <button class="example" onclick="moveSidebar()">DO IT</button>
        
        {{ content }}
        
        </div><!-- /.content -->
        <footer>Unless otherwise indicated, all content on this site is owned by Paul Ladd. &copy; 2013-2016 Paul Ladd. Hosted on <a style="color:#E6C19E" href="https://github.com/SteelTopaz/SteelTopaz.github.io">GitHub</a>.</footer>

    </body>
</html>