---
layout: blog
---

    <section>
        <article>
            <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
            <span class="date-author">Posted by {{ page.author }} on {{ page.date | date: '%B %d, %Y' }}
            {% if page.updatedate %}
            | Last updated: {{ page.updatedate }}
            {% endif %}
            </span>
            {% include preview-banner.html %}
            {{ content }}
            {% include prev-next.html %}
        </article>
    </section>