---
layout: default
---

<section class="fullscreen">
    <article>
        <h1 style="margin:0px">{{ page.title }}</h1>
        <h4 style="margin:0px"><em>Part {{ page.part }} of {{ page.collection }}</em></h4>
    </article>
</section>
    
<aside class="sidebar">
    <h3>Contents</h3>
    <ul>
    {% for page in site.categories.[page.categories] reversed %}
        <li><a href="#{{ page.chapter }}">Chapter {{ page.chapter }}</a></li>
    {% endfor %}
</aside>

{% for page in site.categories.[page.categories] reversed %}
    <section id="{{ page.chapter }}">
        <article>
            <h1>Chapter {{ page.chapter }}</h1>
            {{ page.content }}
        </article>
    </section>
{% endfor %}